name = "awaazfm-analytic"
main = "src/index.ts"
compatibility_date = "2024-02-02"

[[durable_objects.bindings]]
name = "ANALYTICS_SESSION"
class_name = "AnalyticsSession"

[[durable_objects.bindings]]
name = "REGISTRY"
class_name = "Registry"

[[migrations]]
tag = "v1"
new_classes = ["AnalyticsSession", "Registry"]

[vars]
# We define multiple Realtime Database URLs here.
# The system will automatically route users to the correct DB based on their ID.
SHARD_CONFIG = """
[
  "https://comstorytv-default-rtdb.firebaseio.com",
  "https://awaazfm-shard-2-default-rtdb.firebaseio.com",
  "https://awaazfm-shard-3-default-rtdb.firebaseio.com"
]
"""
TOTAL_SHARDS = "10"