name = "awaazfm-analytic"
main = "src/index.ts"
compatibility_date = "2024-02-02"

[[durable_objects.bindings]]
name = "ANALYTICS_SESSION"
class_name = "AnalyticsSession"

[[migrations]]
tag = "v1"
new_classes = ["AnalyticsSession"]

[vars]
FIREBASE_PROJECT_ID = "awaazfm-analytics-prod"
FIREBASE_API_KEY = "ChangeMeInProduction"
TOTAL_SHARDS = "10"
